p {
  color: gray;
}
button {
  color: rgb(83, 162, 236);
  border: none;

  margin: 10px;
  background-color: white;
}

.content {
  padding: 16px;
}

main {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px auto;
}

img {
  width: 40%;
  
  
  border-radius: 1000px 01px;
}

.pics {
  width: 200px;
}

.image-2{
  margin-left: 10px;
}

.image-1{
  margin-left: 20px;
}