p {
  color: gray;
}
button {
  color: rgb(83, 162, 236);
  border: none;

  margin: 10px;
  background-color: white;
}

.content {
  padding: 16px;
}

main {
  width: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px auto;
}

.profile {
  width: 100%;

  border-radius: 1000px 01px;
}

.pics {
  width: 50px;
}
